<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PDF Download</title>
	<style>		
	@page{
		size: "A4";
		margin: 0.5cm  1.5cm 3.5cm 1.5cm;

		@bottom-right{
			content:"Page" counter(page) " of "counter(pages);
		}
	}
	</style>
</head>
<body>
<div style="background-color:black">
    <h2 style=" color: white;">Accounting Company</h2> 
</div>
<h3>Journals</h3>
{% if journals %}
    <table style="border: 1px solid black; border-collapse: collapse; table-layout:table-layout: fixed; width: 100%;">
        <tr>
          <th style="border: 1px solid black;border-collapse: collapse;">Id</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Owner</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Journal</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Date</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Time</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Price</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Message</th>
        </tr>
           {% for journal in journals %}
            <tr style="border: 1px solid black;border-collapse: collapse;">
            	<td style="border: 1px solid black;">{{journal.id}}</td>
                <td style="border: 1px solid black;">{{journal.author.username}}</td>
                <td style="border: 1px solid black;">{{journal.journal}}</td>
                <td style="border: 1px solid black;">{{journal.date|date:"Y-m-d"}}</td>
                <td style="border: 1px solid black;">{{journal.time|time:"H:i:s"}}</td>
                <td style="border: 1px solid black;">{{journal.price}}</td>
              	<td style="border: 1px solid black;">{{journal.message}}</td>
                {% endfor %}
            </tr>
      </table>
{% else %}
<h5>No journal added yet!</h5>
{% endif %}
</body>
</html>

    	

